node_modules
.vscode
.env
/backend/secrets.json
/backend/backend/__pycache__
/backend/media/placeinfo_image
/backend/placeapi/__pycache__
/backend/accounts/__pycache__
/backend/db.sqlite3
/backend/django.ini